.App {
  text-align: center;
}

/* Form.css */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-item {
  display: flex;
  align-items: center; /* 가로 방향으로 가운데 정렬 */
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  min-width: 80px; /* 각 라벨의 최소 너비를 지정 */
  margin-right: 10px; /* 라벨과 입력 상자 사이의 간격 조정 */
}

/* 입력 상자 너비를 100%로 설정하여 부모 요소인 form-item에 맞춥니다. */
.input-field {
  width: 100%;
  padding: 5px;
}

.signup-button {
  padding: 10px;
}
