/* Form.css */

/* Wrapper for the entire Form.js component */
.form-wrapper {
    margin: 20px;
  }
  
  /* Main heading style */
  .main-heading {
    color: #333;
  }
  
  /* System message style */
  .system-message {
    color: #02008f;
  }
  
  /* Form container style */
  .form-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  /* Custom button style */
  .custom-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }
  
  /* Login message style */
  .login-message {
    color: #008000;
  }
  
  /* Error message style */
  .error-message {
    color: #ff0000;
  }
  
  /* Item container style */
  .item-container {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
  